<!DOCTYPE html><HTML>  <HEAD>
    <!-- META -->    <META charset="utf-8">    <META name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->    
    <TITLE>MeLTS - Knowledge Map</TITLE>    
    <!-- Libraries -->    <SCRIPT src="/smdux1/js/d3/d3.min.js"></SCRIPT>    <LINK rel="stylesheet" href="/smdux1/css/bootstrap.min.css">   
    <STYLE>    .graph {		background-color: #ffffff;    }	.svg{	border: solid gray;	}	    .link {		stroke: #999;		stroke-opacity: .6;    }
    .node circle{		stroke: #000;		stroke-width: 1.5px;    }  
    .node text {		fill: white;		pointer-events: none;		font: 12px sans-serif;		text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;    }    .container {    }
	    .row {		padding: 12px;    }
    
    .canvas {		position: absolute;    }
    .popup {		position: absolute;		left: 0;		top: 0;		background-color: #fff;		width: 200px;		border: 1px #ccc solid;		border-radius: 6px;		box-shadow: #333 2px 2px 4px;		padding: 8px;		font-family: arial, helvetica, sans-serif;    }    </STYLE></HEAD>
  <BODY>        
<DIV class="container">
    <SCRIPT src="/smdux1/js/searchRequests.js"></SCRIPT>		<DIV class="row">			<DIV class="col-md-6 center-block" style="float:none">				<DIV class="input-group">					<INPUT type="text" class="form-control" id="search" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()">					<SPAN class="input-group-btn">						<BUTTON  id="btnSearch" class="btn btn-default" onclick="query(document.getElementById('search').value);						document.getElementById('search').value = '';">						Search						</BUTTON>					</SPAN>				</DIV><!-- /input-group -->
			</DIV>			</DIV>			
			<DIV class="row">
				<DIV class="col-md-6 center-block" style="float:none">					<BUTTON type="button" class="btn btn-info btn-xs"  onclick="query('');">Overview</BUTTON>					<BUTTON type="button" class="btn btn-info btn-xs"  onclick="toggleView()">Unit Clumping</BUTTON>				</DIV>
		</DIV>				<DIV class="row">		<DIV class="col-md-6 center-block" style="float:none">					<span id="query" class="text-danger">Overview</span>					<span>,</span>					<span id="mode" class="text-primary">Unit Clumping - Off</span>			</DIV>			</DIV>	<DIV class="row">		<DIV class="col-md-12">			<DIV class="graph" id="graph1" >			</DIV>
					  <SCRIPT src="/smdux1/js/graph.js"></SCRIPT><!-- If the script is higher it runs before these elements are created. -->
		  <SCRIPT><!--INITIALISE the map to all nodes. -->						query("");		  </SCRIPT>
		</DIV>			</DIV>
</DIV>
</BODY>
</HTML>
