<!-- views/profile.html -->
<!doctype html>
<html>
    <head>
        <title>Loged In</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <style>
            body 		{ padding-top:80px; word-wrap:break-word; }
			
			.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
        </style>
    </head>
    <body>

            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Login Successful</h1>
                <a href="/smdux1/logout" class="btn btn-default btn-sm">Logout</a>
                <div>
				 <a href="/smdux1/map" class="btn btn-default"><span class="fa fa-align-justify"></span> Map</a>
				<a href="/smdux1/mod" class="btn btn-default"><span class="fa fa-align-justify"></span> Add / Remove Nodes</a>
				</div>
            </div>
            </body>
        </html>